

#about {
  background-color: #000;
  color: #fff;
  padding: 60px 20px;
}

.about-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.about-image img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
}

.about-content {
  max-width: 600px;
}

.about-content h2 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.about-content p {
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 15px;
}

.resume-button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease;
 
}

.resume-button:hover {
  background-color: #0056b3;
}